
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Navigation Section -->
<div th:fragment="header" class="row">
  <div class="col-12">
    <!-- Navigation Bar -->
<!--    <a class="navbar-brand" th:href="@{/}">DashBoard</a>-->
<!--    <a class="navbar-brand" th:href="@{/bank}">Bank</a>-->
    <nav class="navbar bg-light">
      <div class="container-fluid">
		              <span class="navbar-brand h1"><a href="/"><img src ="logo1.png"><br>Pay My Buddy</a><br>
		              <small th:text="${session.firstName} + ' ' + ${session.lastName} + ' (balance : ' + ${session.balance} + ' €)'" class="fw-normal"></small></span>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link"href="/"><i></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/bank}"><i></i> Bank</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/friendList}"><i></i>Friends - Connections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}"><i></i>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
</body>
</html>