<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Créditer le compte bancaire</title>
</head>
<body>
<h1>Créditer le compte bancaire</h1>
<div th:if="${param.success}">
  <div class="alert alert-info">
    Great ! you have successfully credited your bank Account
  </div>
</div>

<div th:if="${param.failed}">
  <div class="alert alert-danger">
   your Pay My Buddy Balance has not enough money to make a credit to your Bank Account
  </div>
</div>
<form th:action="@{/creditAccount}" method="post">
  <div>
    <label for="amount">Amount :</label>
    <input type="number" id="amount" name="amount" step="0.01" required />
  </div>
  <button type="submit">Créditer le compte bancaire</button>
</form>
</body>
</html>
