<!doctype html>

<html lang="en" xmlns:th="http://wwww.thymeleaf.org" class="h-100"
>


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Pay My Buddy</title>
</head>

<body>

<!-- SECTION -->
<div class="d-flex p-2 container-fluid justify-content-center">
    <div class="row">
        <div class=" col-12 col-12 lg-12">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <div class="flex-row justify-content-between"><h2 class="mt-4">My friends_connections</h2>
                        <h3 class="mt-4 text-right">
                            <th:block></th:block>
                        </h3>
                    </div>

                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th class="text-left">User name</th>
                            <th class="text-left">Email</th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                            <th class="text-left"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <div>
                            <tr th:each="user: ${friends}">
                                <td th:text="${user.firstName+' '+user.lastName}"></td>
                                <td th:text="${user.email}"></td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{/deleteFriend/{friendId})}"
                                       role="button">Supprimer l'ami</a>

                                </td>
                            </tr>
                        </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>
